.card-header {
  padding: 0 10px;
}

.card-displayer {
  display: flex;
}

.card-image-container {
  margin: 0;
  padding: 0;
  width: 200px;
  flex-shrink: 0;
  line-height: 0;
  background: #888;
}

.card-data-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 1;
}

.card-image {
  width: 100%;
}

.card-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg');
  background-size: 150px 225px;
  overflow: hidden;
}

.card-mana-cost {
  white-space: nowrap;
  overflow-x: visible;
}

.view--collapsed .card-image-container {
  display: none;
}
.view--collapsed .card-body-box {
  display: none;
}

.view--image .card-data-container {
  display: none
}

@media screen and (max-width: 767px) {
  .card-image-container {
    display: none;
  }

  .results-view--image .card-image-container {
    display: block;
  }
}
