.deck-pane {
  display: block;
  float: right;
  width: 400px;
  justify-content: flex-start;
  padding: 10px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  box-sizing: border-box;
}


.deck-pane .card-image-container {
  display: none;
}

.deck-list__category {
  background: #999;
}

.deck-list__category-title {
  background: #999;
  border: 1px solid black;
  border-top: none;
}

.deck-list__item {
  background: #ccc;
  border: 1px solid black;
  border-top: none;
  display: flex;
}

.card-count { padding: 0 5px; }