.deck-pane {
  display: block;
  float: right;
  width: 400px;
  justify-content: flex-start;
  padding: 5px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.deck-pane .card-image-container {
  display: none;
}

.deck-list__sideboard {
  margin-top: 5px;
}

.deck-list__mainboard-title, .deck-list__sideboard-title {
  background: #666;
  font-weight: bold;
  line-height: 24px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.deck-list__category {
  background: #999;
}

.deck-list__category-title {
  background: #999;
  border: 1px solid black;
  border-top: none;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}

.deck-list__item {
  background: #ccc;
  border: 1px solid black;
  border-top: none;
  display: flex;
}

.card-count { 
  line-height: 24px; 
  width: 25px;
  height: 24px;
  display: block;
}
.deck-list__item-info {
  position: relative;
  width: 25px;
  overflow: hidden;
}
.deck-list__item-actions {
  position: absolute;
  top: 24px;
  display: flex;
  flex-direction: column;
}
.deck-list__item .card-actions__slim__container {
  display: block;
}

.deck-list__mainboard .card-actions__slim__sideboard--add,
.deck-list__mainboard .card-actions__slim__sideboard--remove {
  display: none;
}

.deck-list__sideboard .card-actions__slim__mainboard--add,
.deck-list__sideboard .card-actions__slim__mainboard--remove {
  display: none;
}