/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  flex-grow: 0;
	flex-shrink: 0;
	background: #333;
}

/* flip the pane when clicked */
.flip-container.show-back .flip-content {
  transform: rotateY(180deg);
}

.flip-container.show-front:hover .flip-content {
	transform: rotateY(15deg);
}

/* .flip-container, .flip-content--front, .flip-content--back {
	width: 320px;
	height: 480px;
} */

/* flip speed goes here */
.flip-content {
	transition: 0.1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.flip-content--front, .flip-content--back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

/* front pane, placed above back */
.flip-content--front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flip-content--back {
  transform: rotateY(180deg);
}