

.results-list {
  width: 100%;
  max-height: 80vh;
}

.results-list .card-actions__slim__move-button {
  display: none;
}

.result-list-item {
  flex-wrap: wrap;
  list-style: none;
  background: #ccc;
  border: 1px solid black;
  margin: 5px;
}

.results-info {
  display: flex;
  justify-content:space-between;
  text-align: left;
  padding: 10px 5px 5px 5px;
  color: #ccc;
  font-family: "Cinzel", serif;
  flex-wrap: wrap;
}

.view-options {
  font-Family: "Cinzel", serif;
  position:relative;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  display: flex;
}


.view-options.inset {
  margin: 5px;
}

.view-options-ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.results-view--image .results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results-list .card-actions__slim__menu-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .results-info {
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .view-options {
    width: unset;
    padding: 5px;
  }

  .view-options-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .results-list .card-actions__slim__menu-container {
    display: block;
  }

  .results-view--image .card-actions__slim__menu-container {
    display: none;
  }
}