@import 'css/reset.css';
@import 'css/main.css';
@import 'css/spinner.css';
@import 'css/search.css';
@import 'css/results.css';

.colors li {
  display: inline-block;
  padding-right: 10px;
}

.card-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg');
  background-size: 150px 225px;
  overflow: hidden;
}

.card-mana-cost {
  white-space: nowrap;
  overflow-x: visible;
}

.dropdown-hider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 50;
}

.dropdown-collapsed {

}

.dropdown {
  z-index: 100;
  position: absolute;
  width: 200px;
  text-align: center;
  background: #333;
  border: 1px solid #666;
  right: 0;
}

.dropdown > li:hover {
  box-shadow: inset 0 0 5px #fff;
  cursor: pointer;
}

.dropdown > li {
  border-bottom: 1px solid #666;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 80%;
  padding: 10px;
  background: #CCC;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid black;
  overflow: auto;
  z-index: 150;
}

.hover-highlighter:hover {
  box-shadow: inset 0 0 5px #fff;
  cursor: pointer;
}

.hover-hands:hover {
  cursor: pointer;
}

.search-results {
  display: block;
  float: left;
  width: calc(100% - 730px);
}

.results-list {
  overflow-y: scroll;
}

.deck-pane {
  display: block;
  float: right;
  width: 400px;
  justify-content: flex-start;
  padding: 10px;
  height: 100%;
}

.pending {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
}


@media screen and (max-width: 767px) {
  .App-body {
    flex-direction: column;
  }

  .search-results {
    width: 100%;
  }
}

